.aws-sam/
.vscode/
.idea/
node_modules/
dist/
.env
*.log
.DS_Store
coverage/
*.zip
*.tar.gz
*.egg-info/
__pycache__/
*.pyc
.mypy_cache/
.pytest_cache/
htmlcov/
.ipynb_checkpoints/
*.sqlite3
*.db
*.iml
out/
*.class
target/
*.jar
*.war
*.ear
*.logs
logs/   
*.swp
*.swo   
thumbs.db
ehthumbs.db
*.bak
*.tmp
*.old
*.orig
*backup*
docs/
app_assets/
build/
dist/
json_bak/
temp_downloads/
*.zip
*.exe
eesktop_player.py
GEMINI_API_KEY.txt
noises/
